.App {
  text-align: center;
  color: white;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu button {
  margin: 0.5rem;
}

.level-screen {
  color: #000;
  background: #fff;
  text-align: center;
  width: 100%;
}

.sprites img {
  width: 32px;
  height: 32px;
  margin: 0.5rem;
}
