.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
}

#game-container {
  text-align: center;
}

.character {
  width: 150px;
  height: 150px;
  cursor: pointer;
}

.bounce {
  animation: bounce 0.5s ease;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
