body {
  margin: 0;
  font-family: 'Impact', 'Arial Black', sans-serif;
  background: radial-gradient(circle at top, #3a3a3a, #000) fixed;
  color: #f8f8f8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
